@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

h1,
h2,
h3,
h4,
h5{
    color: #734cfb;
    text-align: center;
}

p{
    text-align: center;

}

th{
    color: #734cfb;
}

img{
    margin-top: 90px;
    margin-left: 30px;
    width: 300px;
    height: 300px;
}


iframe{
    margin-top: 50px;
}

.padding{
    padding-bottom: 20px;
}

.extra-padding{
	padding-top:84px;
}

/* ----------------------------------------Colours */

.bg-color-contact {
    background-color: #fff;
}

.bg-light {
    background-color: #fff!important;
}

/* ----------------------------------------Header */

nav{
    background-color: #fff;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 2.5%;
}
 
nav a {
  text-decoration: none;
  color: #734cfb;
  display: block;
}
nav a:hover {
  text-decoration: none;
  background-color: #fff;
  color: #890AD9;
}

nav a:active {
  background-color: #fff;
  color: #890AD9;
  cursor: default;
}

.name{
    text-align: center;
    font-family: "Exo", sans-serif;
}

#hero-image{
  height: 200px;
  width: auto;
  background: url("../images/labrats.jpg") no-repeat center center;
}
/*----------------------------------------------About Section */

.iframe-style{
    height: 350px;
    width: 350px;
    margin-top: 100px;
}
/*----------------------------------------------Footer */

footer {
    
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 54px;
    height: 54px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #fafafa;
    background: #734cfb;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #890AD9;
}

#footer-details {
    padding: 20px;
}

.social-media{
    text-align: center;
}

.container h4{
    margin-left: 20px;
}
/*-----------------------------------Concert */

.concert-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}



.container, table, thead{
    text-align: center;

}


thead tr th{
	text-align: center;
}

.concert-center{
    text-align: center;
}
/* ----------------------------------------Media Queries */

/* ----------------------------------------Artists Form */

.col, h3, p{
    margin-top: 20px;
}
/* ----------------------------------------Contact Form */

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    ;
}

.btn-success {
    color: #fff;
    background-color: #734cfb;
    border-color: #734cfb;
}

.btn-success:hover {
    color: #fff;
    background-color: #890AD9;
    border-color: #734cfb;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #890AD9;
    border-color: #734cfb;
}

.btn-success.focus, .btn-success:active {
    box-shadow: none !important; outline:​0px !important;
}

